<form action="{{ url_for('search_recipe') }}" method="post">
                            <li class=navbar-item>
                                <input placeholder="e.g. beef, potato" type="text" class="search-bar form-control"
                                       name="ingredients" id="ingredients"></li>
                            <li class=navbar-item>
                                <button type="submit" class="search-btn btn btn-primary">Let's get cookin!</button>
                            </li>
                        </form>